
<div class="container-fluid shop-show " >
    <div class="row" >
            <div class="col-md-6">
                <%= image_tag("daria-volkova-unsplash.jpg", class: "welcome-img") %>
                </div>
                <div class="welcome-text">
                <%= render 'users/user' %>
                <h1> Welcome <%= @user.username %> ! </h1>
                </div>
                
                <p>Credit pictures from unsplash</p>
                <div >
                
                </div>
            </div>
        </div>
        

   