
<h1 style="margin:3rem"> All States </h1>

<%= render 'search' %>
<div class="container-fluid">
     <div class="row" >
        <% @states.each do |s| %>
            <div class="col-md-2"  style="display:inline-block"  >
                <div class="card">
                    <div class="card-body bg-card"> 
                    <br>
                    <%= link_to "#{s.name}", state_path(s.id), class: "btn" %> 
                    </div>   
                </div>
            </div>
        <% end %>
    </div>
</div>

