
<h1> All States </h1>

<%= render 'search' %>
<div class="state-index">
    <ul>
        <% @states.each do |s| %>
            <li>
                <br>
                <br>
            <%= link_to "#{s.name}", state_path(s.id), class: "btn" %> 
            </li>
        <% end %>
    </ul>
</div>

