<h1> All reviews </h1>



<ol>
    <% @reviews.each do |r| %>
        <li>
       
            Cafe Name: <%= r.shop.name %>
            Review: <%= r.content %>
            <br>
            Rating: <%= r.rating %>
            <br>
            Username: <%= r.user.username %>
           
             </li>
             <br>
    <% end %>
<ol>
