<% if object.errors.any? %>
  <div id="error_explanation", class="alert-specific">
    <p><%= pluralize(object.errors.count, "error") %> prohibited this from being saved:</p>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>